<div>
  <html>
<head>
  <title>Exercise 1</title>
</head>
  
  <body>
    <h1 style="font-size:45px;">Section 45</h1> 
    <h1 style=" font-size:38px;">Section 38</h1>
    <h1 style=" font-size:31px;">Section 31</h1> 
    <h1 style=" font-size:24px;">Section 24</h1>
    <h1 style=" font-size:17px;">Section 17</h1> 
    <h1 style=" font-size:10px;">Section 10</h1>
    
  </body>
  </html>

</div>
