<script>
  let current = "";
</script>

<style>
	.current {
		background-color: pink;
	}
</style>

<!-- We will cover buttons in week 7! -->

<button class="btn btn-secondary" id="messi" on:click={() => (current = "messi")

}>
  Messi
</button>

<button class="btn btn-secondary" id="ronaldo" on:click={() => (current = "ronaldo")}>
  Ronaldo
</button>

<button class="btn btn-secondary" on:click={() => (current = "neymar")}>
  Neymar
</button>


{#if current=="messi"}

<button class="btn btn-secondary" style="background-color:royalblue" on:click={() => (current = "messi"
)}>
  Messi
</button>

{:else if current=="ronaldo"}

<button class="btn btn-secondary" style="background-color:royalblue" on:click={() => (current = "ronaldo")}>
  Ronaldo
</button>

{:else if current=="neymar"}

<button class="btn btn-secondary" style="background-color:royalblue" on:click={() => (current = "neymar")}>
  Neymar
</button>

{/if}
