<script>
  const baseurl = "https://www.youtube.com/watch?v=";
  const videos = [
    { id: "S4bn6gg-BmE", name: "Messi" },
    { id: "MD6WXsjdcsY", name: "Ronaldo" },
    { id: "yTGr45ZQRdA", name: "Neymar" }
  ];
</script>

<div>
  {#each videos as item}
  <p> {item.name} <a href ="https://www.youtube.com/watch?v={item.id}" style="color:black">(video)</a></p>
  {/each}


  
  <!--  -->
</div>
