<div>
  <html>
  <head>
  <title> Exercise2 </title>
</head>
<body>
  <p>The best visual channels ordered by Mackinlay's ranking:</p>
  <ol type = "1">
    <li>Position</li>
    <li>Length</li>
    <li>Angle</li>
  </ol>
</body>


  </html>

</div>
