<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  
  import {scaleLog}  from "d3-scale";
	import {axisBottom} from 'd3-axis';
	import {select} from 'd3-selection';

  const scale = scaleLog().domain([1, 10]).range([0,790]);
  // Array
  const values = [2, 4, 6, 7, 9];
	const log_values = [1,2,3,4,5,6,7,8,9,10]
	const axis = axisBottom(log_values);
	const faxis = axisBottom(log_values).tickSizeOuter(1).tickValues([1, 2, 3, 5, 8, 13, 21]);
	
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as value}
    <circle cx={scale(value)} cy="45" r="10" fill="skyblue" />
    {/each}
    <!--  -->
		{#each log_values as value}
    <g class="tick" opacity="1" transform="translate({scale(value)},60)"><line stroke="currentColor" y2="6"></line>
			<text fill="currentColor" y="8" dy="0.71em">{value}
			</text>
		</g>
    {/each}
	<g transform="translate(0, 70)" fill="none" font-size="15" font-family="sans-serif" text-anchor="middle">
		<text x="425" y="0" text-		anchor="middle" fill="currentcolor">x label</text>
		
  </g>
	
</svg>